.card {
  height: 500px;
  width: 500px;
  border-radius: 20px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1% 0 1% 0;
  transition: 0.1s;
}
.top {
  height: 50%;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.bottom {
  height: 50%;
  width: 100%;
  background-color: azure;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.5s;
}
.cardpic {
  height: 250px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  opacity: 0.8;
  transition: 0.5s;
}
.bottom h3 {
  margin-top: 3%;
  font-size: 2em;
  font-family: headers;
  border-bottom: black 2px solid;
  color: azure;
  margin-bottom: 3%;
  padding: 2% 0% 2% 2%;
  margin: 3% 5% 3% 5%;
  background-color: navy;
  border-radius: 0.1em;
}

.bottom p {
  font-size: 1.2em;
  padding: 0 5% 0 5%;
  font-family: headers;
  color: black;
}
.cardbuttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.cardbutton {
  background-color: orange;
  border: none;
  border-radius: 5px;
  padding: 2%;
  text-align: center;
  height: 50px;
  width: 200px;
  color: black;
  font-family: headers;
  font-size: 1.6em;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 10%;
}

.cardbutton:hover {
  background-color: navy;
  transition: 0.5s;
  color: azure;
}

.card:hover .bottom {
  background-color: lavender;
  transition: 0.5s;
}
.card:hover .cardpic {
  opacity: 1;
  transition: 0.5s;
}
.card:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
  transition: 0.1s;
}
