.Cruises {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.title {
  height: 40%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/seal2.webp") 0px -350px;
  background-size: cover;
}
.title h1 {
  font-size: 5em;
  font-family: para;
  color: azure;
  margin-bottom: 3%;
  padding: 2% 0% 2% 2%;
  margin: 3% 5% 3% 2%;
  background-color: transparent;
  border-radius: 0.1em;
  text-decoration: underline;
}
.title h3 {
  margin-top: 3%;
  font-size: 2em;
  font-family: para;
  color: azure;
  margin-bottom: 3%;
  padding: 2% 0% 2% 2%;
  margin: 3% 5% 3% 2%;
  background-color: transparent;
  border-radius: 0.1em;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(32rem, 1fr));
  justify-items: center;
  align-items: center;
  height: 80%;
  width: 100%;
  margin-bottom: 3%;
}
@media screen and (max-width: 666px) {
  .title {
    height: 40%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../assets/seal2.webp") 0px 0;
    background-size: cover;
    padding-bottom: 10%;
    margin-top: 8%;
  }
  .title h1 {
    font-size: 2em;
    margin: 0% 0 0 0;
  }
  .title h3 {
    font-size: 2em;
  }
  .cards {
    justify-content: center;
    margin: 10% 0 10% 0;
  }
}

@media screen and (min-width: 667px) and (max-width: 735px) {
  .title {
    height: 40%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../assets/seal2.webp") 0px 0;
    background-size: cover;
    padding-bottom: 10%;
    margin-top: 4%;
  }
  .title h1 {
    font-size: 2.2em;
    margin: 0% 0 0 0;
  }
  .title h3 {
    font-size: 1.7em;
  }
  .cards {
    justify-content: center;
    margin: 10% 0 10% 0;
  }
}

@media screen and (min-width: 736px) and (max-width: 991px) {
  .title {
    height: 40%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../assets/seal2.webp") 0px 0;
    background-size: cover;
    padding-bottom: 10%;
    margin-top: 4%;
  }
  .title h1 {
    font-size: 3em;
    margin: 0% 0 0 0;
  }
  .title h3 {
    font-size: 2em;
  }
  .cards {
    justify-content: center;
    margin: 10% 0 10% 0;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .title {
    height: 40%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../assets/seal2.webp") 0px 0;
    background-size: cover;
    padding-bottom: 10%;
    margin-top: 4%;
  }
  .title h1 {
    font-size: 4em;
    margin: 0% 0 0 0;
  }
  .title h3 {
    font-size: 2.2em;
  }
  .cards {
    justify-content: center;
    margin: 10% 0 10% 0;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    height: 40%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../assets/seal2.webp") 0px 0;
    background-size: cover;
    padding-bottom: 10%;
    margin-top: 3%;
  }
  .title h1 {
    font-size: 5em;
    margin: 0% 0 0 0;
  }
  .title h3 {
    font-size: 2.5em;
  }
  .cards {
    justify-content: center;
    margin: 10% 0 10% 0;
  }
}
