.Faq {
  height: 100%;
  width: 100%;
  padding: 5% 0 5% 0;
  margin-top: 3%;
  background-color: lavender;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Faq h1 {
  margin: 0% 0 2% 5%;
  font-family: para;
  font-size: 5em;
  color: navy;
  text-align: center;
}
.accordion {
  background-color: navy;
  display: flex;
  flex-direction: column;
  color: azure;
  cursor: pointer;
  padding: 1em;
  font-family: headers;
  font-size: 2em;
  margin: 0;
  border-radius: 0.5em;
  border: none;
  width: 50%;
  text-align: left;
  transition: 0.4s;
  margin-top: 1px;
}

.accordion:hover {
  background-color: #ccc;
}

.panel {
  overflow: hidden;
  padding: 0em 1em;
  max-height: 0;
  opacity: 1;
  font-size: 1.4em;
  transition: 0.6s ease-in-out;
  width: 50%;
  font-family: headers;
  border-radius: 0.5em;
}

.panel.active {
  padding: 1em;
  max-height: 1200px;
  background-color: white;
  margin: 0;
  border-radius: 0.5em;
  width: 50%;
  font-family: headers;
  font-size: 1.4em;
  opacity: 1;
  transition: 0.6s ease-in-out;
}
@media screen and (max-width: 666px) {
  .accordion {
    width: 80%;
  }
  .panel {
    width: 80%;
  }
  .panel.active {
    width: 80%;
  }
}

@media screen and (min-width: 667px) and (max-width: 735px) {
  .accordion {
    width: 80%;
  }
  .panel {
    width: 80%;
  }
  .panel.active {
    width: 80%;
  }
}

@media screen and (min-width: 736px) and (max-width: 991px) {
  .accordion {
    width: 80%;
  }
  .panel {
    width: 80%;
  }
  .panel.active {
    width: 80%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
}

@media screen and (min-width: 1200px) {
}
