@font-face {
  font-family: para;
  src: url("../fonts/p.ttf");
}
@font-face {
  font-family: "headers";
  src: url(../fonts/headers.otf);
}

body {
  position: relative;
  background: lightblue;
}

.home {
  height: 100%;
}

.seal {
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../assets/seal.webp) fixed 0px;
  background-size: cover;
  top: 87px;
  height: 800px;
  width: 100%;
  z-index: -1;
}

.welcome {
  height: 60%;
  width: 60%;
  margin: 5% 0 5% 6%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.welcome h1 {
  margin-top: 5%;
  font-family: para;
  font-size: 5em;
  color: azure;
}

.welcome p {
  font-family: para;
  font-size: 2.5em;
  color: azure;
}

.welcome span {
  text-decoration: underline;
  font-size: 1.5em;
}
.buttons {
  display: flex;
  flex-direction: column;
  height: 20%;
  justify-content: space-evenly;
  align-items: center;
}
.button {
  background-color: orange;
  border: none;
  border-radius: 5px;
  padding: 2%;
  text-align: center;
  height: 50px;
  width: 400px;
  color: black;
  font-family: headers;
  font-size: 1.6em;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 20%;
}
.second {
  height: 50%;
  margin: 2% 0 2% 0;
  width: 100%;
  background-color: lightblue;
}
.gridContainer {
  display: grid;
  height: 100%;
  width: 100%;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(32rem, 1fr));
  column-gap: 2%;
  row-gap: 2%;
}
.griditem h3 {
  margin-top: 3%;
  font-size: 2em;
  font-family: headers;
  border-bottom: black 2px solid;
  color: azure;
  margin-bottom: 3%;
  padding: 2% 0% 2% 2%;
  margin: 3% 5% 3% 5%;
  background-color: navy;
  border-radius: 0.1em;
}
.griditem p {
  font-size: 1.2em;
  padding: 0 5% 0 5%;
  font-family: headers;
  color: black;
}
.third {
  height: 50vh;
  width: 100%;
  color: azure;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: url("../assets/thrid.webp") fixed;
  background-size: cover;
}
.pcont {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-family: headers;
  font-size: 1.3em;
}
.pcont p:nth-child(2) {
  margin-top: 5%;
}
.third img {
  height: 25%;
}
.fourth {
  height: 50vh;
  width: 100%;
}
.fourth h3 {
  font-size: 2em;
  font-family: headers;
  color: black;
  background-color: lavender;
  width: 30%;
  height: 2em;
  line-height: 2em;
  padding: 2% 0% 0% 2%;
  margin-left: 6%;
  border-radius: 0.2em;
}
.duocont {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.duocont h4 {
  height: 2em;
  font-size: 2em;
  font-family: headers;
  color: azure;
  line-height: 2em;
  background-color: navy;
  width: 100%;
  border-radius: 0.11em;
  padding: 0% 2% 0% 2%;
  margin: 0;
  opacity: 0.8;
}
.cruises {
  background: url("../assets/boat2.webp")-100px -200px no-repeat;
  height: 60%;
  width: 35%;
  border-radius: 1em;
  padding: 2%;
  margin: 0% 2% 2% 2%;
  text-align: bottom;
  transition: 0.1s;
}
.fishing {
  background: url("../assets/boat.webp")-100px -200px no-repeat;
  height: 60%;
  width: 35%;
  border-radius: 1em;
  padding: 2%;
  margin: 0% 2% 2% 2%;
  text-align: bottom;
  transition: 0.1s;
}
.fifth {
  height: 50vh;
  width: 100%;
  margin: 5% 0 5% 0;
  padding: 0.7em 0 0.7em 0;
  background: url("../assets/sea.webp") fixed;
  background-size: cover;
}
.fifth h1 {
  font-size: 2em;
  font-family: headers;
  color: black;
  background-color: lavender;
  width: 30%;
  height: 2em;
  line-height: 2em;
  padding: 2% 0% 0% 2%;
  margin-left: 7.5%;
  margin-top: 4%;
  border-radius: 0.2em;
}
.fifth figure {
  background-color: white;
  margin: 1em;
  padding: 0.7em;
  border-radius: 1em;
}
.fifth blockquote {
  padding: 0.5em;
  font-size: 1.3em;
  font-style: italic;
  text-align: center;
}
.fifth figcaption {
  padding: 0.7em;
  margin-top: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 666px) {
  .seal {
    background: url(../assets/phoneback.webp) fixed 0px;
    height: 100vh;
    width: 100%;
    background-size: cover;
  }
  .welcome {
    height: 60%;
    width: 100%;
    margin: 15% 0 6% 0%;
  }
  .welcome h1 {
    font-size: 2em;
    text-align: center;
  }
  .welcome p {
    margin-top: 5%;
    font-size: 1.5em;
    width: 60%;
    text-align: center;
  }
  .welcome span {
    font-size: 1.5em;
  }
  .button {
    height: 70px;
    width: 200px;
  }
  .second {
    height: 50%;
    margin: 25% 0 20% 0;
    width: 100%;
    background-color: lightblue;
  }
  .gridContainer {
    justify-content: center;
  }
  .griditem {
    width: 100vw;
  }
  .griditem h3 {
    font-size: 1.6em;
  }
  .griditem p {
    font-size: 1.2em;
  }
  .third {
    height: 100%;
    margin: 5% 0 5% 0;
    padding: 10% 0 10% 0;
  }
  .fourth {
    height: 100%;
    width: 100%;
  }
  .fourth h3 {
    font-size: 1.5em;
    width: 1000%;
    margin-left: 0%;
  }
  .duocont {
    flex-direction: column;
  }
  .duocont h4 {
    height: 1.5em;
    font-size: 1.5em;
    line-height: 1.5em;
    width: 90%;
    opacity: 1;
  }
  .cruises {
    height: 300px;
    width: 90%;
    padding: 2% 0 2% 0;
    margin-bottom: 5%;
    margin-top: 5%;
    cursor: pointer;
  }
  .fishing {
    height: 300px;
    width: 90%;
    padding: 2% 0 2% 0;
    margin-bottom: 5%;
    margin-top: 5%;
    cursor: pointer;
  }
  .fifth {
    height: 100%;
    width: 100%;
    margin: 5% 0 5% 0;
    padding: 0.7em 0 0.7em 0;
    background: url("../assets/sea.webp") fixed;
    background-size: cover;
  }
  .fifth h1 {
    font-size: 1.5em;
    width: 90%;
    text-align: center;
    height: 1.5em;
    line-height: 1.5em;
    padding: 0;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 667px) and (max-width: 735px) {
  .seal {
    background: url(../assets/phoneback.webp) fixed 0px;
    height: 100vh;
    width: 100%;
    background-size: cover;
  }
  .welcome {
    height: 60%;
    width: 100%;
    margin: 15% 0 6% 0%;
  }
  .welcome h1 {
    font-size: 2em;
    text-align: center;
  }
  .welcome p {
    margin-top: 5%;
    font-size: 1.5em;
    width: 60%;
    text-align: center;
  }
  .welcome span {
    font-size: 1.5em;
  }
  .button {
    height: 70px;
    width: 200px;
  }
  .second {
    height: 50%;
    margin: 25% 0 20% 0;
    width: 100%;
    background-color: lightblue;
  }
  .gridContainer {
    justify-content: center;
  }
  .griditem {
    width: 75vw;
  }
  .griditem h3 {
    font-size: 1.6em;
  }
  .griditem p {
    font-size: 1.2em;
  }
  .third {
    height: 100%;
    margin: 5% 0 5% 0;
    padding: 10% 0 10% 0;
  }
  .fourth {
    height: 100%;
    width: 100%;
  }
  .fourth h3 {
    font-size: 1.5em;
    width: 1000%;
    margin-left: 0%;
  }
  .duocont {
    flex-direction: column;
  }
  .duocont h4 {
    height: 1.5em;
    font-size: 1.5em;
    line-height: 1.5em;
    width: 90%;
    opacity: 1;
  }
  .cruises {
    height: 300px;
    width: 90%;
    padding: 2% 0 2% 0;
    margin-bottom: 5%;
    margin-top: 5%;
    cursor: pointer;
  }
  .fishing {
    height: 300px;
    width: 90%;
    padding: 2% 0 2% 0;
    margin-bottom: 5%;
    margin-top: 5%;
    cursor: pointer;
  }
  .fifth {
    height: 100%;
    width: 100%;
    margin: 5% 0 5% 0;
    padding: 0.7em 0 0.7em 0;
    background: url("../assets/sea.webp") fixed;
    background-size: cover;
  }
  .fifth h1 {
    font-size: 1.5em;
    width: 90%;
    text-align: center;
    height: 1.5em;
    line-height: 1.5em;
    padding: 0;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 736px) and (max-width: 991px) {
  .seal {
    background: url(../assets/phoneback.webp) fixed 0px;
    height: 100vh;
    width: 100%;
    background-size: cover;
  }
  .welcome {
    height: 60%;
    width: 100%;
    margin: 15% 0 6% 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .welcome h1 {
    font-size: 2em;
    text-align: center;
  }
  .welcome p {
    margin-top: 5%;
    font-size: 1.5em;
    width: 60%;
  }
  .welcome span {
    font-size: 1.5em;
  }
  .button {
    height: 70px;
    width: 200px;
  }
  .second {
    height: 50%;
    margin: 25% 0 20% 0;
    width: 100%;
    background-color: lightblue;
  }
  .gridContainer {
    justify-content: center;
  }
  .griditem {
    width: 65vw;
    text-align: center;
  }
  .griditem h3 {
    font-size: 1.6em;
  }
  .griditem p {
    font-size: 1.2em;
  }
  .third {
    height: 100%;
    margin: 5% 0 5% 0;
    padding: 10% 0 10% 0;
  }
  .fourth {
    height: 100%;
    width: 100%;
  }
  .fourth h3 {
    font-size: 1.5em;
    width: 1000%;
    margin-left: 0%;
  }
  .duocont {
    flex-direction: column;
  }
  .duocont h4 {
    height: 1.5em;
    font-size: 1.5em;
    line-height: 1.5em;
    width: 90%;
    opacity: 1;
  }
  .cruises {
    height: 300px;
    width: 90%;
    padding: 2% 0 2% 0;
    margin-bottom: 5%;
    margin-top: 5%;
    cursor: pointer;
  }
  .fishing {
    height: 300px;
    width: 90%;
    padding: 2% 0 2% 0;
    margin-bottom: 5%;
    margin-top: 5%;
    cursor: pointer;
  }
  .fifth {
    height: 100%;
    width: 100%;
    margin: 5% 0 5% 0;
    padding: 0.7em 0 0.7em 0;
    background: url("../assets/sea.webp") fixed;
    background-size: cover;
  }
  .fifth h1 {
    font-size: 1.5em;
    width: 90%;
    text-align: center;
    height: 1.5em;
    line-height: 1.5em;
    padding: 0;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .welcome {
    height: 60%;
    width: 100%;
    margin: 7% 0 6% 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .welcome h1 {
    font-size: 5em;
    text-align: center;
  }
  .welcome p {
    margin-top: 5%;
    font-size: 2em;
    width: 60%;
    text-align: center;
  }
  .welcome span {
    font-size: 1.5em;
  }
  .button {
    height: 70px;
    width: 200px;
  }
  .second {
    height: 50%;
    margin: 15% 0 15% 0;
    width: 100%;
    background-color: lightblue;
  }
  .gridContainer {
    display: grid;
    height: 100%;
    width: 100%;
    justify-items: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(64rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(32rem, 1fr));
    column-gap: 2%;
    row-gap: 2%;
  }
  .griditem {
    width: 65vw;
    text-align: center;
  }
  .griditem h3 {
    font-size: 1.6em;
  }
  .griditem p {
    font-size: 1.2em;
  }
  .third {
    height: 100%;
    margin: 5% 0 5% 0;
    padding: 10% 0 10% 0;
  }
  .fourth {
    height: 100%;
    width: 100%;
  }
  .fourth h3 {
    font-size: 1.5em;
    width: 1000%;
    margin-left: 0%;
  }
  .duocont {
    flex-direction: column;
  }
  .duocont h4 {
    height: 1.5em;
    font-size: 1.5em;
    line-height: 1.5em;
    width: 90%;
    opacity: 1;
  }
  .cruises {
    height: 300px;
    width: 90%;
    padding: 2% 0 2% 0;
    margin-bottom: 5%;
    margin-top: 5%;
    cursor: pointer;
  }
  .fishing {
    height: 300px;
    width: 90%;
    padding: 2% 0 2% 0;
    margin-bottom: 5%;
    margin-top: 5%;
    cursor: pointer;
  }
  .fifth {
    height: 100%;
    width: 100%;
    margin: 5% 0 5% 0;
    padding: 0.7em 0 0.7em 0;
    background: url("../assets/sea.webp") fixed;
    background-size: cover;
  }
  .fifth h1 {
    font-size: 1.5em;
    width: 90%;
    text-align: center;
    height: 1.5em;
    line-height: 1.5em;
    padding: 0;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 1200px) {
  .button:hover {
    transform: scale(1.1);
    transition: ease-in 0.2s;
    color: azure;
    background-color: navy;
  }
  .cruises:hover,
  .fishing:hover {
    transform: scale(1.01);
    transition: 0.1s;
    opacity: 1;
    cursor: pointer;
  }
}
